/.idea/dictionaries
/.idea/libraries
/.idea/gradle.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/inspectionProfiles
.idea/codeStyleSettings.xml
.idea/runConfigurations.xml
/app/app.iml
/build
/captures
/local.properties
.DS_Store
.gradle
/app/src/main/obj/
.directory*
/app/build